body {
  background-color: #199aea;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;
  overflow-x: hidden;
  padding-top: 20px;
}
.header {
  width: 100%;
  background-color: #a3bf8f;
  text-align: center;
}
